name: build
on:
  push:
    branches:
      - main

env:
  RELEASE: 1.5.0

permissions:
  contents: write


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: "1"

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: true

      - run: go mod download

      - run: go test -cover -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Set Short SHA
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          version: ${{ env.RELEASE }}

      - uses: actions/go-dependency-submission@v1
        with:
          go-mod-path: go.mod

      # - name: Upload Test Results As Artifact
      #   uses: actions/upload-artifact@v2
      #   if: always()
      #   with:
      #     name: test_report
      #     path: test_report.html
