name: pull-request
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: "1"
      
    steps:
      - uses: actions/checkout@v6


      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: true
      
      - run: go mod download

      - run: go test -cover -coverprofile=coverage.txt -covermode=atomic ./...
